#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

#board>div {
    border: 1px solid lightblue;
}

.selected {
    background-color: yellow;
}
.buttons {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 500px;
}